
{erl_opts, [debug_info]}.

{deps, [
    {opentelemetry, "~> 1.3"},
    {opentelemetry_api, "~> 1.2"},
    {opentelemetry_exporter, "~> 1.0"},
    {dqsd_otel, {path, "../../dqsd_otel/"}}
]}.

{plugins, [
    rebar3_path_deps
]}.

{apps, [dqsd_sample]}.

{relx, [
    {release, {dqsd_sample, "0.1.0"},
     [opentelemetry_exporter, {opentelemetry, temporary}, dqsd_sample]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.

