
{erl_opts, [debug_info]}.

{deps, [
    {opentelemetry, "~> 1.3"},
    {opentelemetry_api, "~> 1.2"},
    {opentelemetry_exporter, "~> 1.0"}
]}.

{apps, [otel_getting_started, otel_wrapper]}.

{relx, [
    {release, {otel_getting_started, "0.1.0"},
     [opentelemetry_exporter, {opentelemetry, temporary}, otel_getting_started, otel_wrapper]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.

